# Remote source, the InfluxDB you are replicating FROM.
INFLUXDB_SOURCE_URL=http://localhost:8086
INFLUXDB_SOURCE_ORGANISATION=source-org
INFLUXDB_SOURCE_TOKEN=source-admin-token
INFLUXDB_SOURCE_BUCKET=source-bucket

# Local sink, the InfluxDB you are replication TO.
INFLUXDB_SINK_PORT=8086
INFLUXDB_SINK_USER=admin
INFLUXDB_SINK_PASS=sink-password       # min 8 characters
INFLUXDB_SINK_URL=http://localhost:8086
INFLUXDB_SINK_ORGANISATION=sink-org
INFLUXDB_SINK_TOKEN=sink-admin-token
INFLUXDB_SINK_BUCKET=sink-bucket
